app-current-measurement{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include container;
}

.current-temperature{
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.current-description{
  text-align: center;
}

.current-minimum{
  text-align: center;
}

.current-maximum{
  text-align: center;
}
