app-forecast-measurements {
  @include flex-center-column;
  @include container;
  height: 100%;
  padding: 0;
  overflow-y: scroll;
}

.forecast-container {
  container: sidebar/inline-size;
  overflow-y: scroll;
}

app-forecast-measurement {
  display: grid;
  width: 100%;
  padding: 1rem;

  grid-template-areas:"icon  weather-condition weather-condition date"
                       "temp-min temp-min temp-max temp-max";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: calc($spacer / 2);
  align-items: center;
  justify-content: start;


  &:not(:last-child) {
    border-bottom: 1px solid $border-surface;

  }

  & .measurement-icon {
    background-color: #66CED6;
    border-radius: 1rem;
    grid-area: icon;
    width: 3rem;
    height: 3rem;
  }

  & .measurement-date {
    grid-area: date;
    font-size: smaller;
    color: $text-gray-500;
  }

  & .measurement-weather-name {
    grid-area: weather-condition;
    text-align: start;
    text-transform: capitalize;
  }

  & .temperature-data {
    &__minimum {
      grid-area: temp-min;
      @include flex-center;
      gap: calc($spacer / 2);
      background-color: #66CED6;
      border-radius: 1rem;
      padding: .5rem 1rem;
      white-space: nowrap;


    }

    &__maximum {
      grid-area: temp-max;
      @include flex-center;
      gap: calc($spacer / 2);
      background-color: #66CED6;
      border-radius: 1rem;
      padding: .5rem 1rem;
      white-space: nowrap;

    }
  }
}



@container (max-width: 250px) {
  app-forecast-measurement {
    padding: $spacer;
    grid-template-areas:"icon icon"
    "weather-condition weather-condition"
    "date date"
    "temp-min temp-max";
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;

    & .measurement-icon {
      display: block;
      margin: auto;
      width: 5rem;
      height: 5rem;
    }

    & .measurement-date {
      text-align: center;
    }

    & .measurement-weather-name {
      text-align: center;
    }

    & .temperature-data {
      &__minimum {
        grid-area: temp-min;
        @include flex-center;
        gap: calc($spacer / 2);
        padding: .25rem .5rem;


      }

      &__maximum {
        grid-area: temp-max;
        @include flex-center;
        gap: calc($spacer / 2);
        padding: .25rem .5rem;

      }
    }
  }

}

@container (max-width: 190px) {
  app-forecast-measurement {
    grid-template-areas:"icon icon"
    "weather-condition weather-condition"
    "date date"
    "temp-min temp-min"
    "temp-max temp-max"
  ;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: $location-data-max-width) {
  .forecast-container {
    overflow-y: unset;
  }
  app-forecast-measurements {

    height: unset;
    overflow-y: unset;

  }


}
