app-forecast-measurements {
  @include flex-center-column;
  @include container;
}


app-forecast-measurement {
  display: grid;
  width: 100%;
  grid-template-areas:"icon  weather-condition weather-condition date"
                       "temp-min temp-min temp-max temp-max";
  gap: calc($spacer / 2);
  align-items: center;
  justify-content: start; //todo align to center when on smaller screens


  &:not(:last-child) {
    border-bottom: 1px solid $border-surface;

  }

  & .measurement-icon {
    grid-area: icon;
    width: 3rem;
    height: 3rem;
  }

  & .measurement-date {
    grid-area: date;
    font-size: smaller;
    color: $text-gray-500;
  }

  & .measurement-weather-name {
    grid-area: weather-condition;
    text-align: center;
  }

  & .temperature-data {
    &__minimum {
      grid-area: temp-min;
      @include flex-center;
      gap: calc($spacer / 2);
    }

    &__maximum {
      grid-area: temp-max;
      @include flex-center;
      gap: calc($spacer / 2);
    }
  }
}

@media only screen and (max-width: $location-data-max-width) {
  app-forecast-measurement {
    padding: $spacer;
    grid-template-areas:"icon icon"
    "weather-condition weather-condition"
    "date date"
    "temp-min temp-max";
    align-items: center;
    justify-content: center;

    & .measurement-icon {
      display: block;
      margin: auto;
      width: 5rem;
      height: 5rem;
    }

    & .measurement-date {
      text-align: center;
    }
  }

}
