app-header {
  min-height: $header-min-height;
  background-color: $primary;
  display: flex;
  align-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: $box-shadow;
  padding-inline: $spacer;

  & .header-title {
    margin-block: auto;
    font-weight: bold;
    font-size: larger;
  }
}

@media only screen and (min-width: $md) and (min-height: $md) {
  app-header {
    min-height: $header-min-height-lg;
  }
}
