app-language-picker{
  height: 100%;
  display: block;

  & select{
    height: 100%;
    padding: .5rem 1rem;
    background-color: #66CED6;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #56acb2;
  }
}
