app-location-data{
  @include container;
  width: 100%;
  max-width: $location-data-max-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .location-name{
    color: $primary;
    text-align: center;
  }

  & .location-fetch-date{
    color: $text-gray-500;
    text-align: center;

  }
}
