$background: #e6eef2;
$background-surface: #eeeeee;
$border-surface: #b2b2b2;
$border-surface-width: 1px;

$primary: #e86e1e;


$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$spacer: 16px; //16px set by @typography.scss

$text-gray-500: #494949;
$text-black: #070600;

//HEADER

$header-min-height: 44px;
$header-min-height-lg: 56px;

//LOCATION DATA

$location-data-max-width: 320px;


//BREAKPOINTS
$md: 768px;

