app-default-layout {
  @include flex-center-column;
  flex-grow: 1;
  gap: calc($spacer/2);
  padding: $spacer;
  width: 100%;
  margin: auto;
  margin-top: $header-min-height;
}

.measurements-container {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  gap: calc($spacer/2);
  width: 100%;

  & > * {
    flex: 1 1 0;
    flex-basis: 100%;

  }
}

@media only screen and (max-width: $location-data-max-width) {
  .measurements-container {
    flex-direction: column;

    > * {
      width: 100%;
    }
  }
}

@media only screen and (min-width: $md) and (min-height: $md) {
  app-default-layout {
    padding: $spacer * 2;
    margin-top:$header-min-height-lg
  }
}
