<h1 class="location-name">Maribor</h1>
<ng-container *ngIf="dataLoaded$ | async as dataLoaded; else noDataReceived">
  <p class="location-fetch-date">
    {{
      'LOCATION_DATA.DATA_RECEIVED_LABEL'
        | translate: { value: dataLoaded | dateFormat: 'DD/MM/YYYY HH:mm:ss' }
    }}
  </p>
  <button (click)="reloadData()" class="btn btn__primary">
    {{ 'GLOBAL.RELOAD_LABEL' | translate }}
  </button>
</ng-container>

<ng-template #noDataReceived>
  <p>{{ 'CURRENT_WEATHER.NO_WEATHER_MESSAGE' | translate }}</p>
</ng-template>
